header {
    background-color: white;
    padding: 6px;
    text-align: left;
    
    color: white;
    position: fixed;
    width: 100%;
    z-index: 9999999;   
    border-bottom: 1px solid black;
  }