<header>
      <a style="cursor: pointer;margin-left: 0.5em" class="anchor menu-toggle" (click)="toggleSideMenu()">
            <i style="color: black;font-size: 25px" class="fa fa-bars" id="side-bar"></i>
      </a> &nbsp;
      <img src="../../logo.png" height="30" width="200" style="margin-bottom: 6px"/>      
      <span class="pull-right">
            <a href="">
                  <i style="color: black;font-size: 25px" class="fa fa-user"></i>
            </a>&nbsp;
            <a href="" title="logout" style="text-decoration:none;">
                  <i class="fa fa-power-off" style="color: black;font-size:23px;"></i>
            </a>
      </span>


      <!-- <span class="user-info">Welcome <b>User</b></span> -->
</header>