  <app-header></app-header>
  <div id="my-wrapper" class="sidebar-open">
    <div class="my-sidebar-wrapper" id="app-sidebar">
      <ul class="sidebar-menu" id="my-sidebar-wrapper">
        <li>
            <a routerLink="/home" class="linktooltip">
              <i class="fa fa-list-alt"></i>
              <span class="menuSpans">Patient List</span>
              <span class="linktooltiptext">Patient List</span>
            </a>
        </li>
      </ul>
    </div>
    <div class="my-content-wrapper"  id="app-content-wrapper">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>


<app-footer></app-footer>