.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#eae6e1;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 6%;
  }
 
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #212529;
    display: block;
  }
  
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding-top: 6%
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (max-width:768px){
    .sidenav{
        margin-top: 15%
    }
}
@media screen and (max-width:1024px){
  .sidenav{
      margin-top: 10%
  }
} */