/* You can add global styles to this file, and also import other style files */
thead>tr>th {
    cursor: pointer;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
      margin-bottom: -86px; 
  padding-bottom: 30px;
  }