<!-- <a href="/dashboard">Home</a> -->

<div class="login-container">   
    <div class="col-md-12 full-height">
         <div class="login-panel-container">
                   <div class="row">
              <div class="login-panel">
                   <div class="service-portal-logo">                        
                        <span class="green">Charge Capture</span>
                   </div>
                   <div>
                        <form [formGroup]="loginForm" class="form-horizontal" name="form" (ngSubmit)="login()" novalidate>
                             <fieldset>
                                  <div class="login-form">
                                       <div class="login-error alert alert-danger" *ngIf="this.loginForm.error">
                                            {{this.loginForm.error}}                                            
                                       </div>
                                       <div class="form-group right-inner-addon">
                                            <input type="text" name="username" id="username" class="form-control no-clear-mark" placeholder="Email" formControlName="username" autocomplete="off" required />
                                            <!-- <a ng-click="vm.username=null" ng-show="vm.username!==null"><i class="fa fa-times" ></i></a>
                                            <span ng-show="form.$submitted && form.username.$error.required" class="help-block">Username is required</span> -->
                                            <!-- <span class="help-block"  *ngIf="this.loginform.userNameErrorMsg">{{this.loginform.userNameErrorMsg}}</span> -->

                                       </div>
                                       <div class="form-group">
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Password"  formControlName="password" required autocomplete="off" />
                                            <!-- <span ng-show="form.$submitted && form.password.$error.required" class="help-block">Password is required</span> -->
                                            <!-- <span class="help-block"  *ngIf="this.loginform.passwordErrorMsg">{{this.loginform.passwordErrorMsg}}</span> -->
                                       </div>
                                  </div>
                                  <div class="login-footer">
                                       <div class="form-group">
                                            <button  type="submit" class="btn btn-primary form-control" [disabled]="!loginForm.valid">LOGIN &nbsp; &nbsp; &nbsp;
                                                 <!-- <img ng-if="vm.dataLoading" src="images/login-loading-img.gif" style="background-color:orange;" height="22" width="22" /> -->
                                            </button>
                                       </div>
                                       <div class="form-group text-center">
                                            <!-- <a href class="btn btn-link">Forgot Password?</a> -->
                                       </div>
                                  </div>
                             </fieldset>
                        </form>
                   </div>


 </div><br><div class="login-panel-container" style="font-size:14px;color:gray;font-weight:bold;">
   
         <!-- <p>For assistance, please contact FocusScript Provider<br> Relations at 888-240-5156 Option 1</p> -->
     </div>
              </div>
              
           
              
         </div>
    </div>
</div>