<h3>Patient List</h3>

<div class="panel panel-default" style="padding-top: 1%;width: 99%;">
  <div class="panel-heading" style="background-color: #e9ecef;margin-top: -1%;height: 3em">Patient Details

  </div>
  <div class="panel-body">
    <div class="container" style="width: 100%">
      <div class="row">
        <nav class="navbar" style="width: 30%">
          <input class="form-control " placeholder="Search with Patient Name/SSN" type="text" name="search" [(ngModel)]="filter">
        </nav>

        <table class="table">
          <thead>
            <tr>
              <th (click)="sort('patientId')">Patient Id
                <span class="glyphicon sort-icon" *ngIf="key =='patientId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('firstName')">Name
                <span class="glyphicon sort-icon" *ngIf="key =='firstName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('gender')">Gender
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('address')">Address
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('ssn')">SSN
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!showLoader">
            <tr *ngFor="let detail of patientdetails | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: pagenumber } ; let i = index">
              <td>{{detail.patientId}}</td>
              <td>{{getPatientName(detail)}}</td>
              <td>{{detail.gender}}</td>
              <td>{{getPatientAddress(detail)}}</td>
              <td>{{detail.ssn}}</td>
              <td>
                <a class="btn" (click)="navigateToDetails(detail)" title="Edit patient details">
                  <i style="font-size: 20px;color:#2199e8" class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="showLoader">
            <div class="loader" style="margin-left: 153%;margin-top: 3%"></div>
          </tbody>
        </table>
        <div class="pull-right" *ngIf="!showLoader">
          <pagination-controls (pageChange)="pagenumber = $event" style="margin-left: 60%"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>