<h3>Patient List</h3>

<div class="panel panel-default" style="padding-top: 1%;width: 99%;">
  <div class="panel-heading" style="background-color: #e9ecef;margin-top: -1%;height: 3em">Patient Details
    
  </div>
  <div class="panel-body">
    <div class="container" style="width: 100%">
      <div class="row">
        <nav class="navbar" style="width: 30%">
          <input class="form-control " placeholder="Search with Patient Name/SSN" type="text" name="search" [(ngModel)]="filter">
        </nav>
        
        <table class="table">
          <thead>
            <tr>
              
              <th (click)="sort('detail.patientdetail.firstName')">Name
                <span class="glyphicon sort-icon" *ngIf="key =='firstName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('detail.patientdetail.dateOfBirth')">Date Of Birth
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('detail.patientdetail.facility')">Facility/Location
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('detail.provider.firstName')">Physician
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('dateOfService')">Date Of Service
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('cpt')">CPT
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('icd')">ICD
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('status')">Status
                <span class="glyphicon sort-icon" *ngIf="key =='lastName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!showLoader">
            <tr *ngFor="let detail of filteredFinalArray | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: pagenumber } ; let i = index">
              <td>{{getPatientName(detail.patientdetail)}}</td>
              <td>{{detail.patientdetail.dateOfBirth}}</td>
              <td>{{detail.patientdetail.facility.name}}</td>
              <td>{{getPatientName(detail.provider)}}</td>
              <td>{{detail.dateOfService}}</td>
              <td>{{detail.cpdValues}}</td>
              <td>{{detail.icdValues}}</td>
              <td>{{detail.status}}</td>
              <td>
                <a class="btn" (click)="navigateToDetails(detail)" title="Edit patient details"><i style="font-size: 20px;color:#2199e8" class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="showLoader">
              <div class="loader" style="margin-left: 153%;margin-top: 3%"></div>
          </tbody>
        </table>
        <div class="pull-right" *ngIf="!showLoader">
          <pagination-controls (pageChange)="pagenumber = $event" style="margin-left: 60%"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>