<h3>Patient List</h3>
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #d4d4d4;">
       <div class="panel-title">
            Search
       </div>
  </div>
  <div class="panel-body">
       <form name="logForm" class="form-horizontal">
            <fieldset>
                 <div class="form-group col-md-6" style="margin-right: -15px;margin-left: -50px ">
                      <label class="control-label col-lg-4">From</label>
                      <div class="col-md-8">
                            <div class='input-group date' id='datetimepicker4' style="position: relative;" [ngStyle]="{'z-index':1}">
                              <input class="form-control" a2e-datetimepicker name="memberDOB" [(ngModel)]="this.patientSearchDTO.fromDate" [options]="a2eOptions"
                                placeholder="MM/dd/yyyy" readonly="readonly" (ngModelChange)="getDate()"/>
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                           <!-- <span ng-show="vm.datepickerFromValidationMessage" class="help-block">* From Date is required</span> -->
                      </div>
                 </div>
                 <div class="form-group col-md-6" style="margin-right: -15px;margin-left: -36px ">
                      <label class="control-label col-lg-4">To</label>
                      <div class="col-md-8">
                        <div class='input-group date' id='datetimepicker5' style="position: relative;" [ngStyle]="{'z-index':1}">
                          <input class="form-control" a2e-datetimepicker name="memberDOB" [(ngModel)]="this.patientSearchDTO.toDate" [options]="a2eOptions"
                            placeholder="MM/dd/yyyy" readonly="readonly" (ngModelChange)="getDate()"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>                              
                           <!-- <span ng-show="vm.datepickerToValidationMessage" class="help-block">* To Date is required</span> -->
                      </div>
                 </div>
                 <div class="form-group col-md-6" style="margin-right: -15px;margin-left: -50px ">
                      <label class="control-label col-lg-4">Status</label>
                      <div class="col-md-8">
                           <select class="form-control" name="status" [(ngModel)]="this.patientSearchDTO.status">
                                <option value="All">All</option>
                                <option value="PendingReview">Pending Review</option>
                                <option value="Submitted">Submitted</option>
                                <option value="Processed">Processed</option>
                           </select>
                      </div>
                 </div>
                 <!-- <div class="form-group col-md-6" style="margin-right: -15px;margin-left: -36px ">
                  <label class="control-label col-lg-4">Patient Name</label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" id="" placeholder="Patient Name" maxlength="50" name="patientName" [(ngModel)]="this.patientSearchDTO.patientName" />
                  </div>
                </div> -->
                 <div class="col-lg-12">
                      <div class="pull-right">
                           <button class="btn btn-primary" href="" id="dashboardSearchButton" class="btn btn-primary" (click)="search(this.patientSearchDTO)">SEARCH</button>&nbsp;
                           <button class="btn btn-primary" href="" class="btn btn-primary" (click)="clear()">CLEAR</button>
                      </div>
                 </div>
            </fieldset>
       </form>
  </div>
</div>
<div class="panel panel-default" >
  <div class="panel-heading" style="background-color: #d4d4d4;">
      <div class="panel-title">
          Patient List: All ({{this.totalitems}})
     </div>
  </div>
  <div class="panel-body">
    <div class="container" style="width: 100%">
      <div class="row">
        <!-- <nav class="navbar" style="width: 30%">
          <input class="form-control " placeholder="Search with Patient Name" type="text" name="searchString" [(ngModel)]="searchString">
        </nav>         -->
        <div *ngIf="filteredFinalArrayCopy.length===0 && !showLoader" class="no-records">NO RECORDS FOUND</div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              
              <th (click)="sort('firstName')" width="9%">Patient Name
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='firstName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="firstNameIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                
                <i class="fa" [ngClass]="{'fa-sort': column != 'firstName', 'fa-sort-asc': (column == 'firstName' && isDesc), 'fa-sort-desc': (column == 'firstName' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th (click)="sort('dateOfBirth')" width="9%">Date Of Birth
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='dateOfBirth'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="dateOfBirthIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <i class="fa" [ngClass]="{'fa-sort': column != 'dateOfBirth', 'fa-sort-asc': (column == 'dateOfBirth' && isDesc), 'fa-sort-desc': (column == 'dateOfBirth' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th (click)="sort('providerFirstName')" width="9%">Physician
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='providerFirstName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="providerFirstNameIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <i class="fa" [ngClass]="{'fa-sort': column != 'providerFirstName', 'fa-sort-asc': (column == 'providerFirstName' && isDesc), 'fa-sort-desc': (column == 'providerFirstName' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th (click)="sort('facility')" width="9%">Facility/Location
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='facility'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="facilityIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <i class="fa" [ngClass]="{'fa-sort': column != 'facility', 'fa-sort-asc': (column == 'facility' && isDesc), 'fa-sort-desc': (column == 'facility' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th (click)="sort('dateOfService')" width="9%">Date Of Service
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='dateOfService'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="dateOfServiceIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <i class="fa" [ngClass]="{'fa-sort': column != 'dateOfService', 'fa-sort-asc': (column == 'dateOfService' && isDesc), 'fa-sort-desc': (column == 'dateOfService' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th width="19%" style="cursor: default;">CPT
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='cpt'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="cptIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'cpt', 'fa-sort-asc': (column == 'cpt' && isDesc), 'fa-sort-desc': (column == 'cpt' && !isDesc) }" aria-hidden="true"> </i> -->
              </th>
              <th  width="19%" style="cursor: default;">ICD
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='icd'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="icdIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <!-- <i class="fa" [ngClass]="{'fa-sort': column != 'icd', 'fa-sort-asc': (column == 'icd' && isDesc), 'fa-sort-desc': (column == 'icd' && !isDesc) }" aria-hidden="true"> </i> -->
              </th>
              <th (click)="sort('status')" width="10  %">Status
                <!-- <span style="float: right;" class="glyphicon sort-icon" *ngIf="key =='status'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                <span *ngIf="statusIconSHow"><i class="fa fa-sort" aria-hidden="true"></i></span> -->
                <i class="fa" [ngClass]="{'fa-sort': column != 'status', 'fa-sort-asc': (column == 'status' && isDesc), 'fa-sort-desc': (column == 'status' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th width="5%">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!showLoader">
            <tr *ngFor="let detail of filteredFinalArrayCopy | orderBy: {property: column, direction: direction} | paginate: { itemsPerPage: 10, currentPage: pagenumber ,totalItems:totalitems} ; let i = index">
              <td>{{detail.patientName}}</td>
              <td>{{getDateFormat(detail.dateOfBirth)}}</td>
              <td>{{detail.providerName}}</td>
              <td>{{detail.facilityName}}</td>
              <td>{{detail.dateOfService | date: 'MM-dd-yyyy'}}</td>
              <td>{{detail.cptValues}}</td>
              <td>{{detail.icdValues}}</td>
              <td>{{(detail.status=='PendingReview'?'Pending Review':detail.status)}}</td>
              <td>
                <button title="Edit patient details" [routerLink]="['patientdetails', detail.patientId]" (click)="navigateToDetails(detail)" class="ng-scope"><i class="fa fa-pencil"></i></button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="showLoader">
              <div style="margin-left: 472%;margin-top: 3%" class="loader" ></div>                      
          </tbody>
        </table>
        <div class="pull-right" *ngIf="!showLoader">
          <pagination-controls (pageChange)="pageChanged($event)" style="margin-left: 60%"  class="my-pagination"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>